<HTML>
<HEAD>
<TITLE>{$title} - {$Name}</TITLE>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<style>
	.form_wrap{ width: 60%; display: 0 auto !important; padding: 10px;}
	.form-group input, .form-group select{ margin-bottom: 15px }
</style>
</HEAD>
<BODY bgcolor="#ffffff">
